<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ghumpo - β</title>
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Content/vendor/device-mockups/device-mockups.min.css">
    <link href="~/Content/css/new-age.min.css" rel="stylesheet"/>
</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>
</nav>
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Discover food</h1>
                        <h2>Escape the crowds and discover most beautiful places, food and restaurants.</h2>
                        <br/>
                        <div class="badges">
                            <a class="badge-link" href="#">
                                <img style="height: 60px" src="~/Content/img/google-play-badge.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2 style="float: right">
                You are<br>What you eat.
            </h2>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section id="contact" class="contact bg-primary">
    <div class="container">
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="social-facebook">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="social-google-plus">
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
<footer>
    <div class="container">
        <p>&copy; ghumpo - β</p>
        <ul class="list-inline">
            <li>
                <a href="#">Privacy</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>